# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
android/.idea/

# OS
.DS_Store
Thumbs.db